ion-content {
  --background: transparent;
}

#inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.welcome-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  animation: fadeIn 0,5s ease-in;
}

.start-button {
  --background: #e60000;
  --background-activated: #cc0000;
  --border-radius: 4px;
  --padding-start: 2rem;
  --padding-end: 2rem;
  font-weight: bold;
  height: 48px;
  font-size: 1rem;
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}